body {
    font-family: 'Orbitron', sans-serif;
    background: radial-gradient(
            circle at bottom right,
            #1f6b52 10%,    /* Very dark green */
            #014d39 25%,    /* Darker medium green */
            #01362a 40%,    /* Dark transition green */
            #011b16 60%,    /* Extremely dark green */
            #031316 80%     /* Dark base color */
    );
    margin: 0;        /* Remove default margin */
    height: 100vh;    /* Ensure the body takes full viewport height */
}

h1.title {
    margin-top: 1rem;
    color: #66fcb6;
}


h1.title {
    margin-bottom: 2rem; /* Space below the title */
}

.feedback {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; /* Increase the gap between each equipment button */
    justify-content: flex-start; /* Center the items within the container */
}

/* Hide the default checkbox */
.feedback input[type="radio"] {
    display: none;
}

/* Style the label to look like a button */
.feedback-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;       /* Slightly increase the width */
    height: 180px;      /* Slightly increase the height */
    padding: 1rem;
    border: 2px solid #66fcb6;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    transition: background 0.3s, color 0.3s;
}

/* Image styling */
.feedback-button img {
    width: 90px;        /* Slightly increase the image size */
    height: 90px;
    object-fit: contain;
    margin-bottom: 1rem; /* Add more space between the image and text */
}

/* Name styling */
.feedback-text {
    font-size: 0.85rem;       /* Slightly reduce the font size */
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    /*word-wrap: break-word;*/    /*Ensure long words wrap to the next line */
    max-width: 100%;          /* Prevent overflow */
    line-height: 1.1;         /* Adjust line height for better text fit */
    margin-top: auto;         /* Push text to the bottom if necessary */
}

/* Hover effect
.equipment-button:hover {
    background: #66fcb6;
    color: #000;
}
*/

/* Checked state */
.feedback input[type="radio"]:checked + .feedback-button {
    background: #66fcb6;
    color: #000;
}

.submit {
    display: inline-block;
    padding: 0.8rem 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    background: #66fcb6;
    color: #000;
    text-decoration: none;
    border: 2px solid #66fcb6;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}